# Build folders
build/
out/
.vs/

# Visual Studio / MSVC files
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.ipch
*.idb
*.tlog
*.log

# Generated output
tokens.txt
ast.txt
ast.dot
ast.png
core_tests.exe
core_tests_extended.exe

# OS/editor
.DS_Store
Thumbs.db
.vscode/